--extra-index-url https://download.pytorch.org/whl/cpu

# Web framework and server
fastapi
uvicorn[standard]

# For parsing PDF and DOCX files
PyMuPDF
python-docx
lxml

# NLP Libraries
git+https://github.com/ramsrigouthamg/Questgen.ai.git
git+https://github.com/boudinfl/pke.git

# Let pip resolve the latest compatible torch versions from the extra index
torch
torchvision
torchaudio

spacy>=3.0.0

# Critical: Pin Pydantic to Version 1.x for compatibility with Spacy/Thinc
pydantic<2
python-multipart
openai
python-dotenv
google-generativeai
